html {
  font-size: 24px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px blue;
  font-size: 1em;
  font-weight: normal;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}
body {
  background-image: url("img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-family: lato;
  font-size: 24px;
}
.border {
  border: 5px outset white;
}
.img {
  display: block;
  width: 300px;
  margin: 30px auto;
  border: 3px solid white;
  border-radius: 8px;
}
